h1 {
  background-color: black;
  color: lightgreen;
}

.headers:hover {
  color: lightgreen;
}

.bold {
  font-weight: bold;
}

img {
  border: 10px solid lightgreen;
  margin: 5px;
  width: 150px;
}
